<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="ObjectCaches" type="System.Runtime.Caching.ObjectCache, System.Runtime.Caching, Version= 4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  <container name="norContainer">
    <!--缓存-->
    <register type="ObjectCaches" mapTo="ViCore.Caching.InprocCache, ViCore"></register>
 </container> 
</unity>