<?xml version="1.0"?>
<appSettings>
  <add key="debug" value="1"></add>
  <add key="host" value="tkszzpdb.xintiannet.com"/>
  <add key="gametime" value="2017/07/18-2017/08/11"/>
  <add key="appid" value="wx6ffd247e3967a760"/>
  <add key="appkey" value="0d8cf4c5579b21480313a7e43b588c9c"/>
</appSettings>