<?xml version="1.0" encoding="utf-8" ?>
<viconfig>
  <dbfactory>
    <property name="connection.string">Data Source=182.92.150.224;Initial Catalog=pijiujie_db;User Id=sa;Password=#EDC2wsx1qaz;</property>
    <property name="connection.provider">System.Data.SqlClient</property>
    <property name="connection.showsql">true</property>
    <mapping>JFB.Business.Domain</mapping>
  </dbfactory>
</viconfig>
