
            <div>
                <ul class="quick-actions">
                    <li class="bg_lo"> <a href="/operator"> <i class="icon-user"></i>管理员管理</a> </li>
                    <li class="bg_lb"> <a href="/operator/role"> <i class="icon-book"></i>角色管理</a> </li>
                    <li class="bg_ls"> <a href="javascript:sysevt.showcontent('#x_cont_tip','正在建设中','警告');"> <i class="icon-dashboard"></i>权限管理</a> </li>
                    <li class="bg_lg"> <a href="javascript:sysevt.showcontent('#x_cont_tip','正在建设中...','建设中');"> <i class="icon-tasks"></i>组织架构管理</a> </li>
                </ul>
            </div>
             <div id="x_cont_tip"></div>
